# Игнорируем виртуальное окружение, оно не нужно в контейнере
venv/
env/

# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем кэш тестов
.pytest_cache/
.pytest_tmp/
.ruff_cache/

# Секреты и локальные переменные баз данных (в контейнере они будут подкидываться извне)
.env
.env*
*.sqlite3
dump.rdb

# Временные файлы и логи
temp/
logs/

# Игнорируем git, он весит много и коду не нужен
.git
.gitignore
